.home-contain {
  width: 100vw;
  height: 100vh;
  background: url('../../assets/background2.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  font-family: sans-serif;
}
  
  .home-main-content {
    position: absolute;
    margin-top: 380px;
    margin-left: 850px;
    transform: translateY(-50%);
    text-align: right;
  }
  
  .home-text-section h2 {
    font-size: 48px;
    color: #07551A;
    line-height: 1.2;
    margin-left: 10vw;
    margin-top: 10vh;
  }
  
  .home-arrow-down {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 50px;
  }
  
  .home-arrow-down:hover {
    transform: translateY(5px);
  }
  